@charset "utf-8";
/* CSS DOCUMENT */

* {
	margin: 0;
	padding: 0;
	border: 0;
}

* {
    box-sizing: border-box;
}

html {
    position: relative;
    scroll-behavior: smooth;
    min-height: 100%;
}

body {
    font-family: "Inter", Helvetica, sans-serif;
    color: #272f42;
    background-color: #fbfbfb;
    margin: 0 0 300px;
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
}

h1 {
    font-family: "Inter", Helvetica, sans-serif;
    font-size: 4.5em;
	font-weight: bold;
    color: #272f42;
}

h2 {
	font-size: 2.5em;
    font-weight: 500;
	font-family: "Inter", Helvetica, sans-serif;
	color: #272f42;
    padding-top: 0.3em;
    padding-bottom: 1em;
}

h3 {
    font-family: "Inter", Helvetica, sans-serif;
    font-size: 2.0em;
    font-weight: bold;
    padding-bottom: 0.8em;
    color: rgba(0, 0, 0, 0.8);
}

h4 {
    color: rgba(0, 0, 0, 0.8);
    font-size: 1.1em;
    padding: 1em;
}

h5 {
    font-size: 1.7em;
    font-weight: bold;
    padding-bottom: 0.8em;
}

li {
    display: inline;
}

section {
    padding-top: 5em;
    display: block;
    overflow: auto;
}

/* CONTAINER */

.container {
    width: 80%;
    max-width: 1280px;
	margin-right: auto;
	margin-left: auto;
}

/* HERO */

.hero {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
	background-color: #85e5ec;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%23fbfbfb' fill-opacity='0.2'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    height: 100vh;
    background-size: 5em;
    text-align: left;
    color: #272f42;
}

.details {
    margin-left: 15%;
}

.social-icons a {
    color: #272f42;;
    font-size: 2em;
    padding: 0 0.5em 0 0em;
    transition: 0.2s ease;
}

.see-my-work {
    background: #fbfbfb;
    padding: 0.5em 2em;
    margin-top: 2em;
    font-size: 1.2em;
    font-weight: 500;
	border-radius: 4px;
	display: inline-block;
	cursor: pointer;
	user-select: none;
	text-decoration: none;
	transition: .2s ease-in-out;
}

.see-my-work:hover {
    background-color: #fbfbfbbe;
	transition: .2s ease-in-out;
}

/* ABOUT */

.about-me-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.portrait {
    width: 30%;
    margin: auto;
    border-radius: 50%;
    display: block;
}

.about-me-text {
    max-width: 50%;
    text-align: left;
}

.about-me-text p {
    font-size: 1.1em;
    line-height: 1.9em;
    font-weight: 400;
	color: #777;
}

/* PORTFOLIO */

.portfolio {
    display: grid;
    width: 100%;
    grid-template-columns: 32% 32% 32%;
    grid-column-gap: 2%;
    grid-row-gap: 3em;
    margin-bottom: 1em;
}

.portfolio-item {
    box-shadow: 0 0 20px rgba(0,0,0,.1);
    height: auto;
    overflow: hidden;
    font-size: 1.1em;
    position: relative;
    transition: 0.5s ease;
    cursor: pointer;
}

.portfolio-item:hover h4 {
    color: #647fba;
}

.portfolio-item .project-desc {
    padding: 1em;
    margin-bottom: 3.5em;
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.8);
}

.portfolio-item .tags {
    color: rgb(112, 112, 112);
    position: absolute;
    bottom: 1em;
    left: 1em;
}

.portfolio-item .tags li {
    padding-right: 1em;
}

/* MODALS */

.modal-bg {
    background: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    display: none;
    margin: auto;
}

.modal {
    text-align: center;
    position: fixed;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.modal-contents {
    display: none;
    background-color: rgb(251, 251, 251);
    padding: 4em 3em;
    border-radius: 1em;
    font-size: 1.2em;
}

.modal i {
    cursor: pointer;
    margin-bottom: 0.5em;
}

.modal i:hover {
    color: #647fba;
}

.modal li {
    color: rgb(112, 112, 112);
    padding: 0.6em;
}

.modal p {
    padding: 2.5rem;
}

.modal .github-link {
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal a:hover {
    color: #647fba;
}

/* FOOTER */

footer {
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    height: 300px;
    width: 100%;
    padding-top: 12em;
    color: #272f42;
    background: url("img/wave.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.footer-content {
    position: relative;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.footer-text {
    max-width: 70%;
}

#copyright {
    font-size: 0.8em;
    font-weight: 400;
}

footer .social-icons a {
    padding: 0 0 0 0.5em;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1200px){
    .container {
        width: 90%;
    }
}

@media only screen and (max-width: 990px) {
    .portfolio {
        grid-template-columns: 49% 49%;
    }

    .about-me-content {
        display: block;
    }

    .portrait {
        margin-bottom: 3em;
    }

    .about-me-text {
        max-width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 3.5em;
    }

    h2 {
        font-size: 2em;
    }

    section {
        padding-top: 3.5em;
    }

    .social-icons a {
        font-size: 1.5em;
    }

    h4 {
        font-size: 0.9em;
    }

    .see-my-work {
        padding: 0.5em 1.5em;
        font-size: 1.1em;
    }
    
    .modal-contents {
        padding: 2em 0;
        font-size: 1em;
        line-height: 1.4em;
    }
    
    .modal p {
        padding: 1.5em 1.5em;
    }

}

@media only screen and (max-width: 600px) {
    
    h3 {
        font-size: 1.6em;
    }

    h5 {
        font-size: 1.2em;
    }

    .grid-item {
        font-size: 0.9em;
    }

    .portrait {
        width: 50%;
    }

    .about-me-text p {
        font-size: 1em;
        line-height: 1.8em;
    }

    .footer-content {
        font-size: 0.9em;
    }

    .modal p {
        padding: 1.5em 1em;
    }

}

@media only screen and (max-width: 414px) {
    h1 {
        font-size: 2.2em;
    }

    h2 {
        font-size: 1.2em;
    }

    .details {
        margin-left: 10%;
    }

    .see-my-work {
        padding: 0.5em 1.3em;
        font-size: 0.9em;
        font-weight: 500;
    }

    .portfolio {
        grid-template-columns: 100%;
    }

    .portrait {
        width: 70%;
    }

    footer .social-icons a {
        padding: 0 0em 0 0.3em;
    }
}